doctype
html(lang="pt-br")
	head
		include default/header.pug
		link(rel="stylesheet" href="css/app.css" media="all")
		title MeNotas
	body
		header
			h1 MeNotas
		main(role="main")
			aside#notes(v-cloak)
				.search
					input.input(type="search" v-model="search" placeholder="Search notes")
				ul
					li(v-if="filteredNotes.length === 0") No notes found.
					li(v-for="note in filteredNotes")
						h2(v-if="note.title") {{note.title}}
						p(v-if="note.content") {{note.content}}
						.action
							button.delete(v-on:click="deleteNote(note)" title="Remove this note") Remove
							button.edit(v-on:click="editNote(note)" title="Edit this note") Edit
			section#editor
				.title
					input.input(type="text" v-model="title" placeholder="Title")
				.content
					textarea.input(v-model="content" placeholder="Content")
				.action
					span(v-if="saved") Note saved...
					button(v-on:click="save" title="Save note") Save
		script(src="https://unpkg.com/vue")
		script(src="//mynotes-silvalexandre.c9users.io:8082/livereload.js")
		script(src="js/app.js" defer)
